:root {
  --bg-color: #242226;
  --txt-color: #eee9f1;
  --btn-color: #f1eaf4;
  --border-color: #57515a;
  --submit-bg-color: #f3eaf5;
  --submit-bg-hover-color: #c4bbc9;
  --submit-txt-color: #343037;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --txt-color: #282129;
  --btn-color: #272727;
  --border-color: #000000;
  --submit-bg-color: #242226;
  --submit-bg-hover-color: #4c494f;
  --submit-txt-color: #ffffff;
}

@media screen and (min-width: 700px) {
  input[type="text"] {
    font-size: 20px;
  }

  input[type="submit"] {
    width: 300px;
    font-size: 25px;
  }

  label {
    font-size: 25px;
  }

  form {
    height: 14em;
    width: 32em;
  }

  h1 {
    font-size: 35px;
  }

  button {
    height: 80px;
    width: 80px;
    top: 12px;
    right: 12px;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 700px) {
  input[type="text"] {
    font-size: 14px;
  }

  input[type="submit"] {
    width: 200px;
    font-size: 14px;
  }

  label {
    font-size: 20px;
  }

  form {
    height: 10em;
    width: 20em;
  }

  h1 {
    font-size: 24px;
  }

  button {
    height: 40px;
    width: 40px;
    top: 15px;
    right: 15px;
  }

  svg {
    width: 15px;
    height: 15px;
  }
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  transition: 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

label {
  color: var(--txt-color);
  font-weight: 500;
}

input[type="text"] {
  height: 1.4em;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  transition: 0.3s ease-in-out;
}

input[disabled] {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

input[type="submit"] {
  background-color: var(--submit-bg-color);
  color: var(--submit-txt-color);
  transition: 0.2s ease-in-out;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--submit-bg-hover-color);
}

h1 {
  color: var(--txt-color);
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
}

button {
  background-color: var(--btn-color);
  border: none;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
}

svg {
  color: var(--bg-color);
}
